<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1><%= title %> V1.3</h1>
		<strong>Deploy from takam-branch</strong>
		<p>
			First paragraphe dolor sit amet consectetur adipisicing elit. Dolorum
			obcaecati odit magnam earum suscipit et praesentium minima quas,
			accusantium sed itaque laborum quis voluptate amet sunt magni iusto
			excepturi esse?
		</p>
	</body>
</html>
